<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="NUnit">
      <section name="TestCaseBuilder"
	    type="System.Configuration.NameValueSectionHandler"/>
      <section name="TestRunner"
	    type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="sqlServer" value="(local)" />
    <add key="persistenceDb" value="Test_PersistenceDb" />
    <add key="testQueuePath" value=".\private$\esb_test_queue" />
    <add key="retryQueuePath" value=".\private$\esb_retry_queue" />
    <add key="failQueuePath" value=".\private$\esb_fail_queue" />
  </appSettings>
    

  <NUnit>
    <TestCaseBuilder>
      <add key="OldStyleTestCases" value="false" />
    </TestCaseBuilder>
    <TestRunner>
      <add key="ApartmentState" value="MTA" />
      <add key="ThreadPriority" value="Normal" />
      <add key="DefaultLogThreshold" value="Error" />
    </TestRunner>
  </NUnit>

  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="namedPipe" sendTimeout="00:01:00" receiveTimeout="00:01:00" openTimeout="00:01:00" closeTimeout="00:01:00" />
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint name="NamedPipeClient" contract="IServiceOriented.ServiceBus.UnitTests.IContract" binding="netNamedPipeBinding" bindingConfiguration="namedPipe" address="net.pipe://localhost/remotehello" />
      <endpoint contract="IServiceOriented.ServiceBus.Services.IServiceBusManagementService" binding="netNamedPipeBinding" bindingConfiguration="namedPipe" address="net.pipe://localhost/serviceBusManagement" />
    </client>
    <services>
      <service name="NamedPipeListener" behaviorConfiguration="debug" >
        <endpoint name="NamedPipeListener" contract="IServiceOriented.ServiceBus.UnitTests.IContract" binding="netNamedPipeBinding" bindingConfiguration="namedPipe" address="net.pipe://dynamic" />
      </service>
      <service name="IServiceOriented.ServiceBus.UnitTests.ContractImplementation" behaviorConfiguration="debug" >
        <endpoint name="NamedPipe" contract="IServiceOriented.ServiceBus.UnitTests.IContract" binding="netNamedPipeBinding" bindingConfiguration="namedPipe" address="net.pipe://localhost/remotehello" />
      </service>
      <service name="IServiceOriented.ServiceBus.Services.ServiceBusManagementService" behaviorConfiguration="debug">
        <endpoint contract="IServiceOriented.ServiceBus.Services.IServiceBusManagementService" binding="netNamedPipeBinding" bindingConfiguration="namedPipe" address="net.pipe://localhost/serviceBusManagement" />
      </service>
    </services>    
    
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\temp\servicebus.svclog" />
        </listeners>
      </source>    
    </sources>
  </system.diagnostics>
</configuration>