<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttp" sendTimeout="00:01:00" receiveTimeout="00:01:00" openTimeout="00:01:00" closeTimeout="00:01:00">
          <security mode="Message">
            <message clientCredentialType="Windows" negotiateServiceCredential="true"/>
          </security>
        </binding>
        <binding name="wsHttpWithUserName"  sendTimeout="00:01:00" receiveTimeout="00:01:00" openTimeout="00:01:00" closeTimeout="00:01:00">
          <security mode="Message">            
             <message clientCredentialType="UserName"></message>
          </security>
        </binding>                 
      </wsHttpBinding>
    </bindings>    
    <behaviors>
      <endpointBehaviors>
        <behavior name="client">
          <clientCredentials>
            <serviceCertificate>
              <authentication revocationMode="NoCheck" certificateValidationMode="None" />                            
            </serviceCertificate>            
          </clientCredentials>          
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="esbListener">          
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost/chatServer/mex" />
        </behavior>
        <behavior name="chatHost">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="None"></serviceAuthorization>          
          <serviceCredentials>            
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="IServiceOriented.ServiceBus.NullUserNamePasswordValidator, IServiceOriented.ServiceBus"/> 
            <serviceCertificate findValue="CN=localhost"/>
          </serviceCredentials>
        </behavior>                  
      </serviceBehaviors>      
    </behaviors>
    <client>
      <endpoint name="ChatClient" contract="IServiceOriented.ServiceBus.Samples.Chat.IChatService" binding="wsHttpBinding" bindingConfiguration="wsHttp" address="http://localhost/chatServer" behaviorConfiguration="client" />

      <endpoint name="ChatClientOut" contract="IServiceOriented.ServiceBus.Samples.Chat.IChatService" binding="wsHttpBinding" bindingConfiguration="wsHttpWithUserName" address="http://localhost/chatServer" behaviorConfiguration="client"></endpoint>

      <endpoint contract="IServiceOriented.ServiceBus.IServiceBusManagementService" binding="wsHttpBinding" bindingConfiguration="wsHttp" address="http://localhost/serviceBusManagement" behaviorConfiguration="client" />
    </client>
    <services>      
      <service name="ChatServer" behaviorConfiguration="esbListener" >
        <endpoint name="wsHttpListener" contract="IServiceOriented.ServiceBus.Samples.Chat.IChatService" binding="wsHttpBinding" bindingConfiguration="wsHttp" address="send" />
      </service>
      <service name="ChatServerOut" behaviorConfiguration="chatHost" >
        <endpoint name="wsHttp" contract="IServiceOriented.ServiceBus.Samples.Chat.IChatService" binding="wsHttpBinding" bindingConfiguration="wsHttpWithUserName" address="send" />
      </service>

      <service name="IServiceOriented.ServiceBus.ServiceBusManagementService">
        <endpoint contract="IServiceOriented.ServiceBus.IServiceBusManagementService" binding="wsHttpBinding" bindingConfiguration="wsHttp" address="http://localhost/serviceBusManagement" />
      </service>
    </services>

  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\temp\chat.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>